<p>Please enter your name and your guess for the number of lines in the Genesis program. Note this includes everything (Genesis, Web Genesis, and Jobs)</p>
<form>
    <div class="form-group">
        <label for="userNameTextBox">
            Name
        </label>
        <input type="text" name="userNameTextBox" id="userNameTextBox" class="form-control" placeholder="Enter your name" />
    </div>
    <div class="form-group">
        <label for="AnswerTextBox">Number Of Lines</label>
        <input type="number" class="form-control" name="AnswerTextBox" id="AnswerTextBox" placeholder="Guess the number of lines in the code" />
    </div>
    <button class="btn btn-success" type="button"> Submit Entry</button>
    <table>
        <tr ng-repeat="userAnswer in vm.userAnswers">
            <td>{{userAnswer.UserName}}</td>
            <td>{{userAnswer.answer}}</td>
        </tr>
    </table>
</form>