<user-panel name="{{person.name}}" collapsed="{{initialCollapsed}}" level="person.level">
    <address></address>
    <br />
    <h4>Friends:</h4>
    <ul>
        <li ng-repeat="friend in person.friends">
            {{friend}}
            <remove-friend method="removeFriend(friend)"></remove-friend>
        </li>
    </ul>
    <div ng-show="!!person.rank">
        Rank: {{person.rank}}
    </div>
    <button class="btn btn-success" ng-show="!person.rank" ng-click="knightMe(person)">Knight Me</button>
</user-panel>