<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title></title>
        <meta charset="utf-8" />
        <link href="Content/bootstrap.css" rel="stylesheet" />
        <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    </head>
    <body ng-controller="mainCtrl">
        <h1>Hello Plunker!</h1>
        <display-box>
            <div>This is content inside</div>
            <ul>
                <li> Item 1 </li>
                <li> Item 2 </li>
            </ul>
            <div>{{message}}</div>
        </display-box>

        <h1>Questions</h1>
        <my-question q="Where is the rebel base?">
            <input type="text" ng-model="answers.baseLocation" />
        </my-question>
        <my-question q="Are you my brother?">
            <input type="radio" ng-value="true" ng-model="answers.brother" /> Yes
            <input type="radio" ng-value="false" ng-model="answers.brother" /> No
        </my-question>
        <my-question q="Are these the droids I'm looking for?">
            <button class="btn btn-lg btn-primary">No</button>
            <button class="btn btn-xs btn-default">Yes</button>
        </my-question>
        <script src="scripts/jquery-3.1.0.js"></script>
        <script src="scripts/bootstrap.js"></script>
        <script src="scripts/angular.js"></script>
        <script src="scripts/app/displayBox.js"></script>
    </body>
</html>
